In [1]:
%load_ext sql

In [5]:
%reload_ext sql

In [2]:
%sql sqlite:///sql-murder-mystery.db

In [5]:
%sql select * from person order by name limit 10

 * sqlite:///sql-murder-mystery.db
Done.

[(49350, 'Aaron Brunken', 384559, 3734, 'Fourteen Mile Way', '648235164'),
 (96053, 'Aaron Elery', 552786, 2225, 'Castle Rd', '734477633'),
 (86834, 'Aaron Larcher', 338012, 356, 'Harwalt Way', '662734103'),
 (71064, 'Aaron Reitler', 838065, 2939, 'Cooke Ave', '591644629'),
 (80579, 'Abbey Staniec', 785801, 2379, 'Pipers Glen Way', '193845734'),
 (77941, 'Abbie Olano', 200795, 273, 'Spratt Hall Dr', '369146819'),
 (23413, 'Abbie Palmitessa', 307960, 3341, 'South Marble Ave', '628802294'),
 (57905, 'Abby Haddick', 234553, 2816, 'Tatton Rd', '381067100'),
 (73835, 'Abdul Heinzen', 463494, 1630, 'Wegg Rd', '136717418'),
 (45525, 'Abdul Lachowsky', 708058, 2769, 'Dock Hollow Circle', '489369460')]

In [6]:
%sql select * from person  order by name desc limit 10

 * sqlite:///sql-murder-mystery.db
Done.

[(63255, 'Zulema Luescher', 664031, 230, 'Colvin Run St', '869505584'),
 (68204, 'Zula Brisbin', 702740, 1424, 'Grasdene Blvd', '585404403'),
 (59504, 'Zoraida Stakemann', 412588, 628, 'Molton Dr', '537075483'),
 (57987, 'Zoraida Peroni', 829852, 1874, 'Coyote Ridge Blvd', '774401885'),
 (95979, 'Zora Santio', 441152, 2265, 'Tee Circle', '899549970'),
 (36394, 'Zora Lowney', 268935, 3356, 'Beauty Beach Dr', '504908833'),
 (25829, 'Zona Langlands', 544406, 2155, 'Roda Rd', '191275353'),
 (57352, 'Zoila Sleeth', 963486, 2513, 'Rodonovan Way', '446748604'),
 (32789, 'Zoila Labrune', 147534, 954, 'Bleecker Way', '663848561'),
 (98102, 'Zoila Flair', 482301, 3962, 'Dalveen Ave', '607133357')]

In [7]:
%sql select count(*) from person

 * sqlite:///sql-murder-mystery.db
Done.

[(10011,)]

In [9]:
%sql select max(height) from drivers_license

 * sqlite:///sql-murder-mystery.db
Done.

[(84,)]

In [10]:
%sql select min(age) from drivers_license

 * sqlite:///sql-murder-mystery.db
Done.

[(18,)]

In [11]:
%sql select avg(age) from drivers_license

 * sqlite:///sql-murder-mystery.db
Done.

[(53.18926751274108,)]

In [12]:
%sql select sum(age) from drivers_license

 * sqlite:///sql-murder-mystery.db
Done.

[(532265,)]

In [19]:
%sql select distinct type from crime_scene_report

 * sqlite:///sql-murder-mystery.db
Done.

[('robbery',),
 ('murder',),
 ('theft',),
 ('fraud',),
 ('arson',),
 ('bribery',),
 ('assault',),
 ('smuggling',),
 ('blackmail',)]

In [20]:
%sql select * from crime_scene_report where type = 'fraud'

 * sqlite:///sql-murder-mystery.db
Done.

[(20180115, 'fraud', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do\n            eiusmod tempor incididunt ut labore et dolore magna aliqua.', 'Seattle'),
 (20170101, 'fraud', 'forgotten to ask.’\n', 'Long Beach'),
 (20170101, 'fraud', 'Alice did not wish to offend the Dormouse again, so she began very\n', 'Oceanside'),
 (20170109, 'fraud', 'his fan and gloves--that is, if I can find them.’ As she said this, she\n', 'North Port'),
 (20170113, 'fraud', 'Dinah, and saying to her very earnestly, ‘Now, Dinah, tell me the truth:\n', 'Paterson'),
 (20170114, 'fraud', '‘Off with their heads!’ and the procession moved on, three of the\n', 'Chicago'),
 (20170114, 'fraud', '‘I couldn’t afford to learn it.’ said the Mock Turtle with a sigh. ‘I\n', 'Lorain'),
 (20170130, 'fraud', '\n', 'Lancaster'),
 (20170130, 'fraud', 'a bit.’\n', 'Raleigh'),
 (20170201, 'fraud', 'close by her.\n', 'Tuscaloosa'),
 (20170205, 'fraud', 'with the words ‘DRINK ME,’ but nevertheless she uncorked it and put it\n', 'Salinas'),
 (20170208, 'fraud', 'growl, ‘the world would go round a deal faster than it does.’\n', 'Portland'),
 (20170208, 'fraud', 'up into hers--she could hear the very tones of her voice, and see that\n', 'Marysville'),
 (20170212, 'fraud', 'knowing how old it was, and, as the Lory positively refused to tell its\n', 'West Valley City'),
 (20170214, 'fraud', '‘Please come back and finish your story!’ Alice called after it; and the\n', 'Jackson'),
 (20170214, 'fraud', 'CHAPTER IX. The Mock Turtle’s Story\n', 'Saint Paul'),
 (20170215, 'fraud', 'drunk half the bottle, she found her head pressing against the ceiling,\n', 'Kennewick'),
 (20170222, 'fraud', 'could get away without being seen, when she noticed a curious appearance\n', 'Jersey City'),
 (20170222, 'fraud', '‘You might just as well say,’ added the March Hare, ‘that “I like what I\n', 'Chattanooga'),
 (20170225, 'fraud', '‘What do you mean by that?’ said the Caterpillar sternly. ‘Explain\n', 'Youngstown'),
 (20170302, 'fraud', 'She ate a little bit, and said anxiously to herself, ‘Which way? Which\n', 'Victorville'),
 (20170304, 'fraud', 'neither of the others took the least notice of her going, though she\n', 'Costa Mesa'),
 (20170313, 'fraud', 'she was up to her chin in salt water. Her first idea was that she\n', 'Cape Coral'),
 (20170316, 'fraud', 'nothing better to say than his first remark, ‘It was the BEST butter,\n', 'Burlington'),
 (20170327, 'fraud', 'Queen jumped up and bawled out, “He’s murdering the time! Off with his\n', 'Round Lake Beach'),
 (20170330, 'fraud', '‘it’s a vegetable. It doesn’t look like one, but it is.’\n', 'Santa Rosa'),
 (20170331, 'fraud', '\n', 'Victorville'),
 (20170403, 'fraud', 'the Lizard in head downwards, and the poor little thing was waving its\n', 'Montgomery'),
 (20170406, 'fraud', '‘We had the best of educations--in fact, we went to school every day--’\n', 'Ogden'),
 (20170408, 'fraud', '\n', 'Chula Vista'),
 (20170411, 'fraud', '\n', 'Newark'),
 (20170416, 'fraud', '‘Not a bit,’ said the Caterpillar.\n', 'Augusta'),
 (20170419, 'fraud', 'The Fish-Footman began by producing from under his arm a great letter,\n', 'Green Bay'),
 (20170425, 'fraud', '\n', 'San Antonio'),
 (20170428, 'fraud', '‘That PROVES his guilt,’ said the Queen.\n', 'Dallas'),
 (20170430, 'fraud', 'The table was a large one, but the three were all crowded together at\n', 'Denton'),
 (20170430, 'fraud', 'unrolled the parchment scroll, and read as follows:--\n', 'Manchester'),
 (20170508, 'fraud', '\n', 'Louisville'),
 (20170511, 'fraud', 'down again into its nest. Alice crouched down among the trees as well as\n', 'Cleveland'),
 (20170520, 'fraud', 'doesn’t suit my throat!’ and a Canary called out in a trembling voice to\n', 'San Bernardino'),
 (20170527, 'fraud', '\n', 'Jackson'),
 (20170529, 'fraud', 'haven’t had a wink of sleep these three weeks!’\n', 'Norwalk'),
 (20170602, 'fraud', '\n', 'Reno'),
 (20170602, 'fraud', '\n', 'Muskegon'),
 (20170604, 'fraud', 'yourself.’\n', 'Las Cruces'),
 (20170606, 'fraud', '‘They couldn’t have done that, you know,’ Alice gently remarked; ‘they’d\n', 'Bel Air'),
 (20170614, 'fraud', '\n', 'Roseville'),
 (20170615, 'fraud', '\n', 'Huntsville'),
 (20170621, 'fraud', '\n', 'Boulder'),
 (20170624, 'fraud', '\n', 'Houston'),
 (20170624, 'fraud', 'Poor Alice! It was as much as she could do, lying down on one side, to\n', 'San Bernardino'),
 (20170625, 'fraud', '\n', 'Des Moines'),
 (20170625, 'fraud', '\n', 'Washington'),
 (20170627, 'fraud', '‘Now tell me, Pat, what’s that in the window?’\n', 'Myrtle Beach'),
 (20170707, 'fraud', 'its eyes, for it was getting very sleepy; ‘and they drew all manner of\n', 'Fullerton'),
 (20170707, 'fraud', 'Alice said nothing; she had sat down with her face in her hands,\n', 'Durham'),
 (20170709, 'fraud', '‘Well, then,’ the Gryphon went on, ‘if you don’t know what to uglify is,\n', 'Dallas'),
 (20170709, 'fraud', 'Soon her eye fell on a little glass box that was lying under the table:\n', 'Grayslake'),
 (20170713, 'fraud', '‘Only mustard isn’t a bird,’ Alice remarked.\n', 'Lancaster'),
 (20170715, 'fraud', 'At last the Mouse, who seemed to be a person of authority among them,\n', 'Green Bay'),
 (20170720, 'fraud', 'it is you hate--C and D,’ she added in a whisper, half afraid that it\n', 'Aurora'),
 (20170721, 'fraud', '\n', 'Boulder'),
 (20170729, 'fraud', 'long as there was room for her.\n', 'Overland Park'),
 (20170730, 'fraud', 'disappointment it was empty: she did not like to drop the jar for fear\n', 'North Las Vegas'),
 (20170731, 'fraud', '‘What a curious feeling!’ said Alice; ‘I must be shutting up like a\n', 'Boise'),
 (20170803, 'fraud', 'it advisable to go with Edgar Atheling to meet William and offer him the\n', 'Youngstown'),
 (20170805, 'fraud', 'at last the Caterpillar took the hookah out of its mouth, and addressed\n', 'Bel Air'),
 (20170810, 'fraud', 'about two feet high, and was going on shrinking rapidly: she soon found\n', 'Toledo'),
 (20170817, 'fraud', '‘I see!’ said the Queen, who had meanwhile been examining the roses.\n', 'Berkeley'),
 (20170825, 'fraud', '‘Give your evidence,’ said the King.\n', 'Lincoln'),
 (20170901, 'fraud', 'know, with oh, such long curly brown hair! And it’ll fetch things when\n', 'Kalamazoo'),
 (20170903, 'fraud', '\n', 'Long Beach'),
 (20170906, 'fraud', '‘No, please go on!’ Alice said very humbly; ‘I won’t interrupt again. I\n', 'Santa Clarita'),
 (20170908, 'fraud', 'a large cauldron which seemed to be full of soup.\n', 'Panama City'),
 (20170908, 'fraud', '\n', 'Fullerton'),
 (20170919, 'fraud', 'back to finish his story.\n', 'Bradenton'),
 (20170921, 'fraud', 'London is the capital of Paris, and Paris is the capital of Rome, and\n', 'Bremerton'),
 (20170927, 'fraud', 'rope--Will the roof bear?--Mind that loose slate--Oh, it’s coming\n', 'Macon'),
 (20171002, 'fraud', 'the right-hand bit to try the effect: the next moment she felt a violent\n', 'Thousand Oaks'),
 (20171009, 'fraud', 'know, with oh, such long curly brown hair! And it’ll fetch things when\n', 'Inglewood'),
 (20171013, 'fraud', '‘I can’t help it,’ said Alice very meekly: ‘I’m growing.’\n', 'Evansville'),
 (20171018, 'fraud', 'along the course, here and there. There was no ‘One, two, three, and\n', 'Sioux City'),
 (20171023, 'fraud', '\n', 'Santa Cruz'),
 (20171027, 'fraud', '‘Digging for apples, indeed!’ said the Rabbit angrily. ‘Here! Come and\n', 'San Jose'),
 (20171104, 'fraud', '\n', 'Fort Collins'),
 (20171105, 'fraud', '‘Really, now you ask me,’ said Alice, very much confused, ‘I don’t\n', 'Port Saint Lucie'),
 (20171113, 'fraud', 'It was so long since she had been anything near the right size, that it\n', 'Flint'),
 (20171116, 'fraud', '‘Hand it over here,’ said the Dodo.\n', 'Fort Smith'),
 (20171119, 'fraud', 'hands on her lap as if she were saying lessons, and began to repeat it,\n', 'Athens'),
 (20171121, 'fraud', 'arms, took the hookah out of its mouth again, and said, ‘So you think\n', 'New York City'),
 (20171122, 'fraud', '\n', 'Kalamazoo'),
 (20171123, 'fraud', '‘It must be a very pretty dance,’ said Alice timidly.\n', 'Pomona'),
 (20171124, 'fraud', 'all. I needn’t be afraid of them!’\n', 'Wilmington'),
 (20171127, 'fraud', 'Alice,) ‘Well, I hardly know--No more, thank ye; I’m better now--but I’m\n', 'Cedar Rapids'),
 (20171127, 'fraud', '    Exactly as we were.\n', 'Bakersfield'),
 (20171128, 'fraud', 'shouldn’t be hungry for it, you know.’\n', 'Ann Arbor'),
 (20171130, 'fraud', '\n', 'Saint Petersburg'),
 (20171206, 'fraud', 'her, to pass away the time.\n', 'Scranton'),
 (20171212, 'fraud', 'Next came an angry voice--the Rabbit’s--‘Pat! Pat! Where are you?’ And\n', 'Chula Vista'),
 (20171229, 'fraud', '\n', 'Antioch'),
 (20171229, 'fraud', '‘Why,’ said the Gryphon, ‘you first form into a line along the\n', 'Spokane'),
 (20171231, 'fraud', 'The door led right into a large kitchen, which was full of smoke from\n', 'Honolulu'),
 (20180113, 'fraud', 'theirs, and the small ones choked and had to be patted on the back.\n', 'Lincoln'),
 (20180114, 'fraud', 'whether it would like the name: however, it only grinned a little wider.\n', 'Beaumont'),
 (20180115, 'fraud', 'The Dormouse slowly opened his eyes. ‘I wasn’t asleep,’ he said in a\n', 'Yakima'),
 (20180115, 'fraud', 'King put on his spectacles and looked anxiously round, to make out who\n', 'Bryan'),
 (20180117, 'fraud', 'half-past one as long as you liked.’\n', 'Baton Rouge'),
 (20180120, 'fraud', 'and we’ve no time to wash the things between whiles.’\n', 'Salt Lake City'),
 (20180123, 'fraud', '\n', 'Shreveport'),
 (20180124, 'fraud', '‘I think I should understand that better,’ Alice said very politely, ‘if\n', 'Hesperia'),
 (20180127, 'fraud', 'on better.’\n', 'Bradenton'),
 (20180202, 'fraud', 'Alice opened the door and found that it led into a small passage, not\n', 'Johnson City'),
 (20180209, 'fraud', 'deal to come before that!’\n', 'Olathe'),
 (20180213, 'fraud', 'of hers that you have just been reading about; and when she had\n', 'Lafayette'),
 (20180216, 'fraud', '‘Well, I shan’t go, at any rate,’ said Alice: ‘besides, that’s not a\n', 'Reading'),
 (20180220, 'fraud', 'just as the Dormouse crossed the court, she said to one of the officers\n', 'Clearwater'),
 (20180221, 'fraud', 'doing?’ Alice whispered to the Gryphon. ‘They can’t have anything to put\n', 'Hampton'),
 (20180224, 'fraud', 'for this curious child was very fond of pretending to be two people.\n', 'Augusta'),
 (20180227, 'fraud', 'behind it was a little door about fifteen inches high: she tried the\n', 'Savannah'),
 (20180313, 'fraud', 'perhaps after all it might tell her something worth hearing. For some\n', 'Durham'),
 (20180317, 'fraud', '\n', 'Frederick'),
 (20180325, 'fraud', 'corners: next the ten courtiers; these were ornamented all over with\n', 'Coral Springs'),
 (20180401, 'fraud', '\n', 'Grayslake'),
 (20180401, 'fraud', '‘Why did you call him Tortoise, if he wasn’t one?’ Alice asked.\n', 'Melbourne'),
 (20180407, 'fraud', '\n', 'Hollywood'),
 (20180414, 'fraud', 'silence, and then another confusion of voices--‘Hold up his head--Brandy\n', 'Myrtle Beach'),
 (20180421, 'fraud', '\n', 'Odessa'),
 (20180427, 'fraud', 'carefully, remarking, ‘I really must be getting home; the night-air\n', 'West Valley City'),
 (20180428, 'fraud', 'Alice glanced rather anxiously at the cook, to see if she meant to take\n', 'Memphis'),
 (20180430, 'fraud', '‘Why not?’ said the March Hare.\n', 'Houma')]

In [21]:
%sql select * from crime_scene_report where type = 'fraud' and city = 'Jackson'

 * sqlite:///sql-murder-mystery.db
Done.

[(20170214, 'fraud', '‘Please come back and finish your story!’ Alice called after it; and the\n', 'Jackson'),
 (20170527, 'fraud', '\n', 'Jackson')]

In [22]:
%sql select * from crime_scene_report where city = 'Jackson' or city = 'Portland'

 * sqlite:///sql-murder-mystery.db
Done.

[(20170106, 'blackmail', 'CHAPTER X. The Lobster Quadrille\n', 'Jackson'),
 (20170208, 'fraud', 'growl, ‘the world would go round a deal faster than it does.’\n', 'Portland'),
 (20170214, 'fraud', '‘Please come back and finish your story!’ Alice called after it; and the\n', 'Jackson'),
 (20170303, 'assault', 'her: she gave a little scream, half of fright and half of anger, and\n', 'Portland'),
 (20170527, 'fraud', '\n', 'Jackson'),
 (20170604, 'assault', 'it to make it stop.\n', 'Portland'),
 (20170926, 'smuggling', 'feebly stretching out one paw, trying to touch her. ‘Poor little thing!’\n', 'Jackson'),
 (20180309, 'theft', 'authority over Alice.\n', 'Jackson'),
 (20180320, 'smuggling', '‘Stand up and repeat “‘TIS THE VOICE OF THE SLUGGARD,”’ said the\n', 'Portland')]

In [23]:
%sql select * from crime_scene_report where city like 'J%'

 * sqlite:///sql-murder-mystery.db
Done.

[(20170106, 'blackmail', 'CHAPTER X. The Lobster Quadrille\n', 'Jackson'),
 (20170108, 'murder', '       HEARTHRUG,\n', 'Jacksonville'),
 (20170115, 'assault', '‘Nothing WHATEVER?’ persisted the King.\n', 'Jersey City'),
 (20170207, 'arson', '\n', 'Jefferson'),
 (20170214, 'fraud', '‘Please come back and finish your story!’ Alice called after it; and the\n', 'Jackson'),
 (20170222, 'fraud', 'could get away without being seen, when she noticed a curious appearance\n', 'Jersey City'),
 (20170319, 'theft', '\n', 'Joliet'),
 (20170420, 'assault', '‘I don’t see,’ said the Caterpillar.\n', 'Johnson City'),
 (20170509, 'robbery', '\n', 'Johnson City'),
 (20170519, 'murder', 'The Duchess took her choice, and was gone in a moment.\n', 'Jersey City'),
 (20170527, 'fraud', '\n', 'Jackson'),
 (20170607, 'bribery', '\n', 'Joliet'),
 (20170617, 'arson', 'that she had put on one of the Rabbit’s little white kid gloves while\n', 'Jersey City'),
 (20170720, 'blackmail', '\n', 'Jacksonville'),
 (20170728, 'robbery', 'children she knew, who might do very well as pigs, and was just saying\n', 'Jefferson'),
 (20170926, 'smuggling', 'feebly stretching out one paw, trying to touch her. ‘Poor little thing!’\n', 'Jackson'),
 (20171010, 'smuggling', 'She was a good deal frightened by this very sudden change, but she felt\n', 'Jersey City'),
 (20171028, 'bribery', 'little thing grunted in reply (it had left off sneezing by this time).\n', 'Jersey City'),
 (20171109, 'robbery', 'Alice heard the Rabbit say, ‘A barrowful will do, to begin with.’\n', 'Jersey City'),
 (20171117, 'robbery', 'that it was quite impossible to say whether the blows hurt it or not.\n', 'Jersey City'),
 (20180202, 'fraud', 'Alice opened the door and found that it led into a small passage, not\n', 'Johnson City'),
 (20180214, 'arson', 'kiss my hand if it likes.’\n', 'Joliet'),
 (20180302, 'assault', '    Involved in this affair,\n', 'Jefferson'),
 (20180309, 'theft', 'authority over Alice.\n', 'Jackson'),
 (20180322, 'arson', 'little histories about children who had got burnt, and eaten up by wild\n', 'Joliet'),
 (20180324, 'smuggling', '\n', 'Jacksonville')]

In [24]:
%sql select * from crime_scene_report where city like '%son'

 * sqlite:///sql-murder-mystery.db
Done.

[(20170106, 'blackmail', 'CHAPTER X. The Lobster Quadrille\n', 'Jackson'),
 (20170113, 'fraud', 'Dinah, and saying to her very earnestly, ‘Now, Dinah, tell me the truth:\n', 'Paterson'),
 (20170129, 'blackmail', '‘Call the first witness,’ said the King; and the White Rabbit blew three\n', 'Paterson'),
 (20170207, 'arson', '\n', 'Jefferson'),
 (20170214, 'fraud', '‘Please come back and finish your story!’ Alice called after it; and the\n', 'Jackson'),
 (20170220, 'murder', 'knocking, and hurried upstairs, in great fear lest she should meet the\n', 'Madison'),
 (20170330, 'murder', '‘I don’t know where Dinn may be,’ said the Mock Turtle, ‘but if you’ve\n', 'Paterson'),
 (20170408, 'murder', '\n', 'Madison'),
 (20170520, 'robbery', '‘Then the Dormouse shall!’ they both cried. ‘Wake up, Dormouse!’ And\n', 'Madison'),
 (20170527, 'fraud', '\n', 'Jackson'),
 (20170610, 'smuggling', 'hand again, and made another snatch in the air. This time there were\n', 'Paterson'),
 (20170728, 'robbery', 'children she knew, who might do very well as pigs, and was just saying\n', 'Jefferson'),
 (20170802, 'robbery', '‘You might just as well say,’ added the March Hare, ‘that “I like what I\n', 'Tucson'),
 (20170915, 'blackmail', '    ‘And your hair has become very white;\n', 'Henderson'),
 (20170922, 'assault', 'till the puppy’s bark sounded quite faint in the distance.\n', 'Tucson'),
 (20170926, 'smuggling', 'feebly stretching out one paw, trying to touch her. ‘Poor little thing!’\n', 'Jackson'),
 (20171107, 'arson', 'and when she had tired herself out with trying, the poor little thing\n', 'Tucson'),
 (20171121, 'theft', 'The twelve jurors were all writing very busily on slates. ‘What are they\n', 'Paterson'),
 (20171122, 'murder', '           (WITH ALICE’S LOVE).\n', 'Madison'),
 (20180302, 'assault', '    Involved in this affair,\n', 'Jefferson'),
 (20180309, 'theft', 'authority over Alice.\n', 'Jackson'),
 (20180422, 'blackmail', 'about the reason and all that,’ he said to the Gryphon.\n', 'Madison')]

In [25]:
%sql select * from crime_scene_report where city like 'J%n'

 * sqlite:///sql-murder-mystery.db
Done.

[(20170106, 'blackmail', 'CHAPTER X. The Lobster Quadrille\n', 'Jackson'),
 (20170207, 'arson', '\n', 'Jefferson'),
 (20170214, 'fraud', '‘Please come back and finish your story!’ Alice called after it; and the\n', 'Jackson'),
 (20170527, 'fraud', '\n', 'Jackson'),
 (20170728, 'robbery', 'children she knew, who might do very well as pigs, and was just saying\n', 'Jefferson'),
 (20170926, 'smuggling', 'feebly stretching out one paw, trying to touch her. ‘Poor little thing!’\n', 'Jackson'),
 (20180302, 'assault', '    Involved in this affair,\n', 'Jefferson'),
 (20180309, 'theft', 'authority over Alice.\n', 'Jackson')]

In [26]:
%sql select distinct city from crime_scene_report where city between 'W%' and 'Z%'

 * sqlite:///sql-murder-mystery.db
Done.

[('Wilmington',),
 ('Waterbury',),
 ('West Valley City',),
 ('Winter Haven',),
 ('Youngstown',),
 ('Wichita',),
 ('West Covina',),
 ('Yakima',),
 ('Washington',),
 ('Winston',),
 ('Westminster',),
 ('Waco',),
 ('Yonkers',),
 ('Warren',),
 ('Worcester',),
 ('Waterloo',),
 ('York',)]

In [27]:
%sql select * from crime_scene_report where date like '2017_106'

 * sqlite:///sql-murder-mystery.db
Done.

[(20170106, 'blackmail', 'rather sharply; ‘I advise you to leave off this minute!’ She generally\n', 'Lewisville'),
 (20170106, 'blackmail', 'CHAPTER X. The Lobster Quadrille\n', 'Jackson'),
 (20170106, 'theft', '‘Of course it is,’ said the Duchess, who seemed ready to agree to\n', 'High Point'),
 (20171106, 'robbery', 'nearer, Alice could hear him sighing as if his heart would break. She\n', 'Myrtle Beach'),
 (20171106, 'murder', '   Yet you balanced an eel on the end of your nose--\n', 'Charleston'),
 (20171106, 'assault', 'Queen, who was reading the list of singers.\n', 'Oklahoma City')]

In [28]:
%sql select distinct city from crime_scene_report where upper(city) = 'JACKSON'

 * sqlite:///sql-murder-mystery.db
Done.

[('Jackson',)]

In [29]:
%sql select distinct city from crime_scene_report where lower(city) = 'jackson'

 * sqlite:///sql-murder-mystery.db
Done.

[('Jackson',)]

In [30]:
%sql select city, count(city) from crime_scene_report where city like 'J%' group by city having count(city) > 3

 * sqlite:///sql-murder-mystery.db
Done.

[('Jackson', 5), ('Jersey City', 8), ('Joliet', 4)]

In [31]:
%sql select person.name, annual_income from income join person on income.ssn = person.ssn where annual_income > 450000

 * sqlite:///sql-murder-mystery.db
Done.

[('Claudio Carlan', 473100),
 ('Felice Prudden', 486600),
 ('Buena Cosimini', 475700),
 ('Dianna Eyster', 476300),
 ('Numbers Cranker', 498500),
 ('Truman Haaker', 489800)]

In [32]:
%sql select name, annual_income as income, gender, eye_color as eyes, hair_color as hair from income i join person p on i.ssn = p.ssn join drivers_license dl on p.license_id = dl.id where annual_income > 450000

 * sqlite:///sql-murder-mystery.db
Done.

[('Claudio Carlan', 473100, 'male', 'black', 'brown'),
 ('Felice Prudden', 486600, 'female', 'green', 'green'),
 ('Buena Cosimini', 475700, 'female', 'brown', 'blonde'),
 ('Dianna Eyster', 476300, 'female', 'brown', 'black'),
 ('Numbers Cranker', 498500, 'male', 'brown', 'green'),
 ('Truman Haaker', 489800, 'male', 'brown', 'grey')]

In [33]:
%sql select * from crime_scene_report where type = 'murder' and city = 'SQL City'

 * sqlite:///sql-murder-mystery.db
Done.

[(20180215, 'murder', 'REDACTED REDACTED REDACTED', 'SQL City'),
 (20180215, 'murder', 'Someone killed the guard! He took an arrow to the knee!', 'SQL City'),
 (20180115, 'murder', 'Security footage shows that there were 2 witnesses. The first witness lives at the last house on "Northwestern Dr". The second witness, named Annabel, lives somewhere on "Franklin Ave".', 'SQL City')]

In [34]:
%sql select * from person where address_street_name = 'Northwestern Dr' order by address_number desc limit 1

 * sqlite:///sql-murder-mystery.db
Done.

[(14887, 'Morty Schapiro', 118009, 4919, 'Northwestern Dr', '111564949')]

In [35]:
%sql select * from person where name like '%Annabel%' and address_street_name = 'Franklin Ave'

 * sqlite:///sql-murder-mystery.db
Done.

[(16371, 'Annabel Miller', 490173, 103, 'Franklin Ave', '318771143')]

In [36]:
%sql select person.name, interview.transcript from person join interview on person.id = interview.person_id where person.id = 14887 or person.id = 16371

 * sqlite:///sql-murder-mystery.db
Done.

[('Morty Schapiro', 'I heard a gunshot and then saw a man run out. He had a "Get Fit Now Gym" bag. The membership number on the bag started with "48Z". Only gold members have those bags. The man got into a car with a plate that included "H42W".'),
 ('Annabel Miller', 'I saw the murder happen, and I recognized the killer from my gym when I was working out last week on January the 9th.')]

In [37]:
%sql select * from get_fit_now_member

 * sqlite:///sql-murder-mystery.db
Done.

[('NL318', 65076, 'Everette Koepke', 20170926, 'gold'),
 ('AOE21', 39426, 'Noe Locascio', 20171005, 'regular'),
 ('2PN28', 63823, 'Jeromy Heitschmidt', 20180215, 'silver'),
 ('0YJ24', 80651, 'Waneta Wellard', 20171206, 'gold'),
 ('3A08L', 32858, 'Mei Bianchin', 20170401, 'silver'),
 ('6W6I2', 69510, 'Paris Accurso', 20170613, 'regular'),
 ('5Y28Y', 15218, 'Millicent Yessios', 20180205, 'gold'),
 ('156A7', 79701, 'Marcelino Leard', 20180428, 'silver'),
 ('A5N3S', 24541, 'Mary Cameron', 20170501, 'gold'),
 ('X0643', 15247, 'Shondra Ledlow', 20170521, 'silver'),
 ('8T75D', 86040, 'Shani Mcclard', 20170430, 'silver'),
 ('R440Q', 37694, 'Jan Louthan', 20170606, 'silver'),
 ('R4J4S', 13703, 'Lien Yasin', 20170414, 'gold'),
 ('K055L', 60785, 'Latisha Larzazs', 20170503, 'regular'),
 ('338FV', 66842, 'Susanne Dubicki', 20170719, 'gold'),
 ('401Y4', 80191, 'Gary Hanohano', 20170627, 'regular'),
 ('DEQP8', 19108, 'Dwight Roussel', 20180108, 'regular'),
 ('N7F6U', 52425, 'Nick Delage', 20170709, 'silver'),
 ('Z7Y82', 31477, 'Rigoberto Hartgrave', 20170817, 'silver'),
 ('THJ81', 12344, 'Thaddeus Modin', 20170616, 'regular'),
 ('51SWX', 92075, 'Keshia Llanet', 20170812, 'regular'),
 ('4TZ45', 61663, 'Bebe Heilmann', 20180417, 'silver'),
 ('5Y85X', 45746, 'Frederic Borsellino', 20170803, 'regular'),
 ('2Q45D', 47693, 'Owen Caston', 20170102, 'silver'),
 ('E43E8', 96742, 'Christian Hogue', 20171014, 'silver'),
 ('TXNSC', 18044, 'Roberto Slot', 20170510, 'silver'),
 ('1G2F7', 90543, 'Roger Bowling', 20170511, 'silver'),
 ('0862D', 62171, 'Johana Dayer', 20170612, 'gold'),
 ('1G205', 31411, 'Toshia Sininger', 20170125, 'silver'),
 ('6071T', 85645, 'Bea Fadei', 20180223, 'gold'),
 ('4D5R1', 87998, 'Richie Zerphey', 20170808, 'regular'),
 ('82GA2', 20716, 'Roslyn Gonzaga', 20170809, 'gold'),
 ('W83OD', 17742, 'Danial Bzhyan', 20171127, 'silver'),
 ('12C5R', 98098, 'Samara Decarolis', 20170304, 'gold'),
 ('8AEAE', 62617, 'Phung Motts', 20180205, 'gold'),
 ('T80FG', 68244, 'Cherilyn Raigosa', 20170606, 'regular'),
 ('0CR33', 62561, 'Noe Elgart', 20170627, 'gold'),
 ('4JX11', 32828, 'Earnest Dambrose', 20170831, 'gold'),
 ('GHDP5', 78264, 'Heath Hosack', 20171218, 'gold'),
 ('D8FT1', 14297, 'Roslyn Ayer', 20171022, 'gold'),
 ('0U51D', 17301, 'Archie Bardwell', 20170505, 'regular'),
 ('355UU', 33920, 'Brandi Gommer', 20170117, 'silver'),
 ('V5260', 66908, 'Luanne Bhan', 20170919, 'gold'),
 ('6K7I8', 83198, 'Audria Vosburgh', 20180309, 'gold'),
 ('KE0FH', 60260, 'Peggy Cortes', 20180420, 'silver'),
 ('133ED', 70618, 'Marcus Lathan', 20171122, 'silver'),
 ('2B01Y', 47735, 'Tania Kubesh', 20170417, 'gold'),
 ('8SJ77', 12526, 'Fawn Lindemuth', 20170820, 'regular'),
 ('7I67C', 66010, 'Simone Mcglinn', 20170802, 'gold'),
 ('0F76P', 55951, 'Ezekiel Nurnberger', 20171222, 'regular'),
 ('ZAB1A', 82357, 'Shenna Valiente', 20180307, 'regular'),
 ('W5YVL', 33243, 'Domonique Ballengee', 20171029, 'regular'),
 ('ITWMV', 25743, 'Elna Reichelderfer', 20170123, 'gold'),
 ('44VO2', 86834, 'Aaron Larcher', 20171122, 'gold'),
 ('07QP3', 15980, 'Hugh Piascik', 20171222, 'regular'),
 ('D2KY6', 99602, 'Joline Hollering', 20170220, 'gold'),
 ('5O6SK', 36413, 'Gordon Sixt', 20170513, 'silver'),
 ('NJ876', 13989, 'Norma Gudroe', 20170210, 'regular'),
 ('7788A', 73797, 'Antone Westgate', 20180119, 'regular'),
 ('GKZV7', 30221, 'Jude Fairbairn', 20170108, 'gold'),
 ('PEL8G', 83434, 'Jerald Aiola', 20171216, 'silver'),
 ('T2JF2', 40065, 'Ignacio Freistuhler', 20170306, 'regular'),
 ('43N05', 15804, 'Laurel Diab', 20170129, 'regular'),
 ('HI1Q5', 29185, 'Yukiko Vogelzang', 20180112, 'silver'),
 ('JQ162', 11162, 'Dorthy Picardi', 20170712, 'silver'),
 ('402DQ', 92379, 'Lynwood Punter', 20170104, 'silver'),
 ('33378', 32162, 'Olen Bolar', 20180324, 'regular'),
 ('1RSYJ', 62042, 'Clement Gidley', 20171016, 'gold'),
 ('31A6U', 28007, 'Magen Brach', 20170425, 'regular'),
 ('7BQKU', 24145, 'Valda Eacret', 20171207, 'gold'),
 ('UK1F2', 28073, 'Zackary Cabotage', 20170818, 'silver'),
 ('NB10J', 65316, 'Mitzi Bakerville', 20170518, 'silver'),
 ('I827Y', 96987, 'Larraine Gamel', 20170911, 'silver'),
 ('O86WU', 68360, 'Alex Strohmeier', 20170730, 'gold'),
 ('30Y1F', 71173, 'Detra Hemeyer', 20180110, 'silver'),
 ('8G0Z2', 71282, 'Marquis Stace', 20180404, 'gold'),
 ('OBU3O', 80489, 'Wilma Sinstack', 20170207, 'regular'),
 ('I0UIP', 49229, 'Madge Bernice', 20170503, 'gold'),
 ('JY514', 98128, 'Keith Savary', 20170207, 'regular'),
 ('E18IN', 64073, 'Lyda Mandigo', 20180316, 'silver'),
 ('3OOJ1', 62367, 'Concha Fiveash', 20180109, 'regular'),
 ('N36I5', 83633, 'Stuart Moitoza', 20171208, 'gold'),
 ('C84S4', 80745, 'Mervin Eacret', 20180108, 'gold'),
 ('B5F34', 73608, 'George Cali', 20171218, 'regular'),
 ('6NAWM', 53382, 'Myles Marushia', 20170710, 'regular'),
 ('71BOE', 61721, 'Maximo Oliver', 20170705, 'gold'),
 ('CGW3X', 26187, 'Hettie Macreno', 20180317, 'silver'),
 ('03487', 73490, 'Lyman Harshbarger', 20170529, 'silver'),
 ('7MRZ6', 75743, 'Brain Puthoff', 20180212, 'silver'),
 ('72H2C', 49774, 'Grant Stutheit', 20180121, 'gold'),
 ('FA4N5', 70985, 'September Cappelluti', 20171109, 'gold'),
 ('3718M', 50049, 'Carmine Rodell', 20170827, 'gold'),
 ('3F8N0', 10319, 'Tama Mazy', 20171021, 'gold'),
 ('48100', 68693, 'Ammie Mossbarger', 20170726, 'silver'),
 ('K3XEZ', 30558, 'Roxane Bua', 20170710, 'regular'),
 ('0Y6DA', 67667, 'Araceli Roussin', 20170304, 'gold'),
 ('XTE42', 55662, 'Sarita Bartosh', 20170524, 'gold'),
 ('P876D', 97206, 'Elizebeth Torgersen', 20180323, 'gold'),
 ('530Q6', 53788, 'Dagny Mikez', 20180218, 'regular'),
 ('2303S', 43058, 'Willie Mazzella', 20170120, 'regular'),
 ('I733Y', 46526, 'Carolin Orellano', 20180325, 'silver'),
 ('AD2A5', 17882, 'Shaun Smeal', 20171020, 'regular'),
 ('F83PZ', 16232, 'Florencio Hodgman', 20171128, 'gold'),
 ('1AE2H', 10815, 'Adriane Pelligra', 20170816, 'silver'),
 ('TQU5U', 46224, 'Jordan Gough', 20180131, 'silver'),
 ('06V71', 50993, 'Travis Windly', 20170812, 'gold'),
 ('7YL50', 82468, 'Patricia Matskin', 20180304, 'gold'),
 ('YD4W4', 27287, 'Cecil Piraino', 20170712, 'silver'),
 ('7A4NF', 98747, 'Aleen Bergmann', 20170703, 'silver'),
 ('J2033', 51710, 'Hal Funchess', 20180328, 'silver'),
 ('344VM', 13466, 'Armando Huie', 20171002, 'regular'),
 ('X377L', 94492, 'Alicia Bernson', 20170722, 'silver'),
 ('RXP8M', 48557, 'Cruz Ewings', 20180111, 'silver'),
 ('7OG72', 98043, 'Cher Rivenbark', 20180123, 'silver'),
 ('66Z13', 44386, 'Reinaldo Rhead', 20170517, 'gold'),
 ('CZ1H8', 68418, 'Roberto Spearmon', 20170604, 'silver'),
 ('7U8WH', 64192, 'Bette Mayon', 20170722, 'silver'),
 ('5VE7U', 66910, 'Jacqui Bonda', 20171010, 'gold'),
 ('3DC24', 10833, 'Queen Radigan', 20180320, 'gold'),
 ('6LSTG', 83186, 'Burton Grippe', 20170214, 'gold'),
 ('551F6', 24618, 'Lazaro Walterson', 20180203, 'regular'),
 ('MYQ6A', 99462, 'Darren Yahraus', 20170712, 'silver'),
 ('J5IO8', 44080, 'Amberly Somdah', 20170902, 'gold'),
 ('TLF67', 66160, 'Addie Tschirhart', 20170521, 'regular'),
 ('76W33', 43768, 'Layne Burakowski', 20180201, 'regular'),
 ('QN47X', 53753, 'Francisco Harcrow', 20171214, 'regular'),
 ('V5M14', 79592, 'Dirk Malhi', 20170626, 'regular'),
 ('77Q7L', 10325, 'Bruna Sumlin', 20170604, 'silver'),
 ('MZQ3U', 72585, 'Mohammad Kotch', 20171109, 'silver'),
 ('72B16', 36182, 'Tanner Faley', 20170825, 'gold'),
 ('4K76L', 19138, 'Kimbery Pedaci', 20170925, 'regular'),
 ('5VK83', 84412, 'Olimpia Romanick', 20170921, 'gold'),
 ('S702J', 92540, 'Ladawn Boards', 20170201, 'regular'),
 ('X1IYH', 35809, 'Tu Lipkovitch', 20170608, 'gold'),
 ('2P828', 38212, 'Hershel Alstrom', 20170113, 'silver'),
 ('QSD41', 73130, 'Aurelio Schrage', 20170203, 'regular'),
 ('V14R0', 83737, 'Hosea Kuzyk', 20180423, 'gold'),
 ('20U07', 21727, 'Alvin Fornes', 20170815, 'silver'),
 ('0EY7M', 78357, 'Lisette Husain', 20170227, 'silver'),
 ('VHN8M', 26473, 'Travis Bressler', 20170516, 'gold'),
 ('0WG67', 77090, 'Delora Vais', 20170706, 'gold'),
 ('72244', 10615, 'Harold Fullmer', 20170721, 'gold'),
 ('TY21F', 94528, 'Terrance Helwig', 20170603, 'gold'),
 ('TD7DF', 60334, 'Faustino Sanmartin', 20180404, 'silver'),
 ('1YHL3', 32045, 'Greg Alwardt', 20170503, 'gold'),
 ('O5U57', 82818, 'Luana Kirstein', 20170811, 'gold'),
 ('E0ZJ2', 59737, 'Hank Staufenberger', 20170408, 'silver'),
 ('7MWHJ', 31523, 'Blossom Crescenzo', 20180309, 'regular'),
 ('8I2HW', 26467, 'Wayne Bonyai', 20170222, 'silver'),
 ('R55GR', 85724, 'Marybeth Ulvan', 20170406, 'gold'),
 ('2STMK', 97486, 'Milan Knippers', 20170523, 'regular'),
 ('C581L', 53262, 'Monty Torrico', 20170307, 'silver'),
 ('WF7P1', 93937, 'Isaiah Bhagat', 20170625, 'regular'),
 ('MORMA', 45428, 'Nelly Schumachor', 20170203, 'regular'),
 ('48Z38', 49550, 'Tomas Baisley', 20170203, 'silver'),
 ('F3U8A', 46617, 'Vanna Castillanos', 20171105, 'gold'),
 ('NF4S2', 15581, 'Simon Weisenberg', 20180426, 'gold'),
 ('3JP0X', 91432, 'Herschel Deltora', 20170131, 'silver'),
 ('3BRSC', 19948, 'Taylor Skyes', 20180314, 'gold'),
 ('RMX31', 99277, 'Pia Ruthenberg', 20171129, 'silver'),
 ('58636', 62536, 'Harvey Jennkie', 20180325, 'gold'),
 ('NB387', 21200, 'Molly Dolin', 20180206, 'gold'),
 ('J4ML1', 48466, 'Jarred Newenle', 20170424, 'regular'),
 ('MN1KI', 43801, 'Art Kunsman', 20180118, 'silver'),
 ('GE5Q8', 92736, 'Carmen Dimick', 20170618, 'gold'),
 ('ALP65', 46423, 'Angel Diachenko', 20170717, 'regular'),
 ('0T622', 98782, 'Sarina Overpeck', 20171109, 'gold'),
 ('8VM1U', 70172, 'Kurt Laplante', 20170524, 'silver'),
 ('5SPT1', 63130, 'Abe Morefield', 20171007, 'regular'),
 ('3S8Z0', 12049, 'Honey Erbentraut', 20171123, 'regular'),
 ('BL3KC', 24033, 'Collene Gulde', 20170913, 'gold'),
 ('36646', 89559, 'Titus Ruan', 20180203, 'regular'),
 ('CGQ1A', 99037, 'Adrienne Fleishman', 20170718, 'regular'),
 ('4SC0G', 92824, 'Kennith Splett', 20170731, 'silver'),
 ('4MK73', 87882, 'Bernard Hardgrove', 20170427, 'regular'),
 ('82OO1', 83144, 'Grant Saurel', 20170202, 'silver'),
 ('2111X', 36646, 'Arlie Braig', 20170315, 'silver'),
 ('11ZAK', 12107, 'Agatha Seddon', 20170628, 'regular'),
 ('HM6U8', 50106, 'Edgar Bamba', 20170128, 'silver'),
 ('2V137', 41693, 'Wendell Dulany', 20171219, 'silver'),
 ('4KB72', 79110, 'Emile Hege', 20170522, 'regular'),
 ('48Z7A', 28819, 'Joe Germuska', 20160305, 'gold'),
 ('48Z55', 67318, 'Jeremy Bowers', 20160101, 'gold'),
 ('90081', 16371, 'Annabel Miller', 20160208, 'gold')]

In [38]:
%sql select * from get_fit_now_member where id like '48Z%' and membership_status = 'gold'

 * sqlite:///sql-murder-mystery.db
Done.

[('48Z7A', 28819, 'Joe Germuska', 20160305, 'gold'),
 ('48Z55', 67318, 'Jeremy Bowers', 20160101, 'gold')]

In [39]:
%sql select * from drivers_license where plate_number like '%H42W%'

 * sqlite:///sql-murder-mystery.db
Done.

[(183779, 21, 65, 'blue', 'blonde', 'female', 'H42W0X', 'Toyota', 'Prius'),
 (423327, 30, 70, 'brown', 'brown', 'male', '0H42W2', 'Chevrolet', 'Spark LS'),
 (664760, 21, 71, 'black', 'black', 'male', '4H42WR', 'Nissan', 'Altima')]

In [40]:
%sql select get_fit_now_member.person_id, person.license_id from get_fit_now_member join person on person.id = get_fit_now_member.person_id where (person_id = 28819 or person_id = 67318) and (license_id = 183779 or license_id = 423327 or license_id = 664760)

 * sqlite:///sql-murder-mystery.db
Done.

[(67318, 423327)]

In [41]:
%sql select * from person where license_id = 423327

 * sqlite:///sql-murder-mystery.db
Done.

[(67318, 'Jeremy Bowers', 423327, 530, 'Washington Pl, Apt 3A', '871539279')]

In [42]:
%sql insert into solution values (1, 'Jeremy Bowers')
%sql select value from solution

 * sqlite:///sql-murder-mystery.db
1 rows affected.
 * sqlite:///sql-murder-mystery.db
Done.

[("Congrats, you found the murderer! But wait, there's more... If you think you're up for a challenge, try querying the interview transcript of the murd ... (88 characters truncated) ... r SQL skills, try to complete this final step with no more than 2 queries. Use this same INSERT statement with your new suspect to check your answer.",)]

In [43]:
%sql select person.name, interview.transcript from person join interview on person.id = interview.person_id where person.id = 67318

 * sqlite:///sql-murder-mystery.db
Done.

[('Jeremy Bowers', 'I was hired by a woman with a lot of money. I don\'t know her name but I know she\'s around 5\'5" (65") or 5\'7" (67"). She has red hair and she drives a Tesla Model S. I know that she attended the SQL Symphony Concert 3 times in December 2017.\n')]

In [44]:
%sql select * from drivers_license where (height = '65' or height = '67') and gender = 'female' and hair_color = 'red' and car_make = 'Tesla' and car_model = 'Model S'

 * sqlite:///sql-murder-mystery.db
Done.

[(918773, 48, 65, 'black', 'red', 'female', '917UU3', 'Tesla', 'Model S')]

In [45]:
%sql select * from person where license_id = '918773'

 * sqlite:///sql-murder-mystery.db
Done.

[(78881, 'Red Korb', 918773, 107, 'Camerata Dr', '961388910')]

In [46]:
%sql select * from income where ssn = '961388910'

 * sqlite:///sql-murder-mystery.db
Done.

[('961388910', 278000)]

In [48]:
%sql select * from facebook_event_checkin where person_id = 78881 and event_name like '%SQL Symphony Concert%' and date like '201712%'

 * sqlite:///sql-murder-mystery.db
Done.

[]

In [49]:
%sql select person.name, interview.transcript from person join interview on person.id = interview.person_id where person.id = 78881

 * sqlite:///sql-murder-mystery.db
Done.

[]

In [50]:
%sql select * from facebook_event_checkin where event_name like '%SQL Symphony Concert%' and date like '201712%'

 * sqlite:///sql-murder-mystery.db
Done.

[(62596, 1143, 'SQL Symphony Concert', 20171225),
 (19260, 1143, 'SQL Symphony Concert', 20171214),
 (58898, 1143, 'SQL Symphony Concert', 20171220),
 (69699, 1143, 'SQL Symphony Concert', 20171214),
 (19292, 1143, 'SQL Symphony Concert', 20171213),
 (43366, 1143, 'SQL Symphony Concert', 20171207),
 (92343, 1143, 'SQL Symphony Concert', 20171212),
 (28582, 1143, 'SQL Symphony Concert', 20171220),
 (28582, 1143, 'SQL Symphony Concert', 20171215),
 (81526, 1143, 'SQL Symphony Concert', 20171202),
 (24397, 1143, 'SQL Symphony Concert', 20171208),
 (11173, 1143, 'SQL Symphony Concert', 20171223),
 (79312, 1143, 'SQL Symphony Concert', 20171203),
 (69325, 1143, 'SQL Symphony Concert', 20171206),
 (24556, 1143, 'SQL Symphony Concert', 20171207),
 (24556, 1143, 'SQL Symphony Concert', 20171221),
 (24556, 1143, 'SQL Symphony Concert', 20171224),
 (99716, 1143, 'SQL Symphony Concert', 20171206),
 (99716, 1143, 'SQL Symphony Concert', 20171212),
 (99716, 1143, 'SQL Symphony Concert', 20171229),
 (67318, 1143, 'SQL Symphony Concert', 20171206)]

In [51]:
%sql select person_id, count(person_id) from facebook_event_checkin where event_name like '%SQL Symphony Concert%' and date like '201712%' group by person_id having count(person_id) = 3

 * sqlite:///sql-murder-mystery.db
Done.

[(24556, 3), (99716, 3)]

In [52]:
%sql select * from person where id = 24556 or id = 99716

 * sqlite:///sql-murder-mystery.db
Done.

[(24556, 'Bryan Pardo', 101191, 703, 'Machine Ln', '816663882'),
 (99716, 'Miranda Priestly', 202298, 1883, 'Golden Ave', '987756388')]

In [53]:
%sql select * from income where ssn = 987756388

 * sqlite:///sql-murder-mystery.db
Done.

[('987756388', 310000)]

In [54]:
%sql select * from drivers_license where id = 202298

 * sqlite:///sql-murder-mystery.db
Done.

[(202298, 68, 66, 'green', 'red', 'female', '500123', 'Tesla', 'Model S')]

In [55]:
%sql insert into solution values (1, 'Miranda Priestly')
%sql select value from solution

 * sqlite:///sql-murder-mystery.db
1 rows affected.
 * sqlite:///sql-murder-mystery.db
Done.

[('Congrats, you found the brains behind the murder! Everyone in SQL City hails you as the greatest SQL detective of all time. Time to break out the champagne!',)]