**Start by doing the following**



1.   Go to your [lab2](https://moodle.bcu.ac.uk/mod/folder/view.php?id=8931483) on your Moodle. Download the dataset 'rollingsales_bronx.xls' from moodle and upload it in your colab
2.   Download the Lab Example notebook and upload in your Google Drive and open it beside this one.
3.   Check each relevant section in the example noteobook to be able to answer the questions below

# **Exercise 1 for Lab 2**

In [19]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

df = pd.read_excel("C:\\Users\\Student\\OneDrive - Birmingham City University\\2nd Year\\AI and ML\\Lab 2\\rollingsales_bronx.xlsx")

In [20]:
#we read the data in again but skip 4 rows this time, then take row [0] after cleaning as header
df = pd.read_excel("C:\\Users\\Student\\OneDrive - Birmingham City University\\2nd Year\\AI and ML\\Lab 2\\rollingsales_bronx.xlsx", skiprows = 4, header = [0])

df.head()

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASEMENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
0,2,BATHGATE,01 ONE FAMILY DWELLINGS,1,3029,35,NaN,A5,416 EAST 180TH STREET,NaN,...,1.0,0.0,1.0,1575.0,1374.0,1899.0,1,A5,362000,2025-06-25
1,2,BATHGATE,01 ONE FAMILY DWELLINGS,1,3030,69,NaN,A1,4447 PARK AVENUE,NaN,...,1.0,0.0,1.0,1668.0,1497.0,1899.0,1,A1,615000,2024-12-12
2,2,BATHGATE,01 ONE FAMILY DWELLINGS,1,3046,10,NaN,A1,2040 WASHINGTON AVENUE,NaN,...,1.0,0.0,1.0,995.0,1566.0,1899.0,1,A1,0,2024-11-04
3,2,BATHGATE,02 TWO FAMILY DWELLINGS,1,2912,133,NaN,B1,488 CLAREMONT PARKWAY,NaN,...,2.0,0.0,2.0,2000.0,2400.0,1993.0,1,B1,0,2025-02-18
4,2,BATHGATE,02 TWO FAMILY DWELLINGS,1,2912,154,NaN,B1,513 EAST 171,NaN,...,2.0,0.0,2.0,2000.0,2400.0,1993.0,1,B1,373500,2025-02-22

## **1. Clean the dataset header and rename columns as in the lab example (Hint check Section 1. Data Cleaning in Lab2 Example).**

In [21]:
#Extract columns
cols = df.columns
#Create empty list
new_cols = []
#iterate to fix issues with names
for column in cols:
  proper_cols = column.title()
  proper_cols_hyphen = proper_cols.replace(" ", "_")
  clean_col = proper_cols.replace("-", "_")
  # #replace existing columns in dataframe with new
  new_cols.append(clean_col)
df.columns = new_cols
#preview
df.head()

,Borough,Neighborhood,Building Class Category,Tax Class At Present,Block,Lot,Easement,Building Class At Present,Address,Apartment Number,...,Residential Units,Commercial Units,Total Units,Land Square Feet,Gross Square Feet,Year Built,Tax Class At Time Of Sale,Building Class At Time Of Sale,Sale Price,Sale Date
0,2,BATHGATE,01 ONE FAMILY DWELLINGS,1,3029,35,NaN,A5,416 EAST 180TH STREET,NaN,...,1.0,0.0,1.0,1575.0,1374.0,1899.0,1,A5,362000,2025-06-25
1,2,BATHGATE,01 ONE FAMILY DWELLINGS,1,3030,69,NaN,A1,4447 PARK AVENUE,NaN,...,1.0,0.0,1.0,1668.0,1497.0,1899.0,1,A1,615000,2024-12-12
2,2,BATHGATE,01 ONE FAMILY DWELLINGS,1,3046,10,NaN,A1,2040 WASHINGTON AVENUE,NaN,...,1.0,0.0,1.0,995.0,1566.0,1899.0,1,A1,0,2024-11-04
3,2,BATHGATE,02 TWO FAMILY DWELLINGS,1,2912,133,NaN,B1,488 CLAREMONT PARKWAY,NaN,...,2.0,0.0,2.0,2000.0,2400.0,1993.0,1,B1,0,2025-02-18
4,2,BATHGATE,02 TWO FAMILY DWELLINGS,1,2912,154,NaN,B1,513 EAST 171,NaN,...,2.0,0.0,2.0,2000.0,2400.0,1993.0,1,B1,373500,2025-02-22

## **2. Check missing data (Hint check  Section 2 Missing Data  in the Lab2 Example):**
  **A. check missing data in the whole dataset**

  **B. Fill in the missing data in **Total_Units** column with the appropriate value based on your analysis**

In [22]:
#Check missing data by checking how many nulls
df.isnull().sum()

Borough                              0
Neighborhood                         0
Building Class Category              0
Tax Class At Present                 0
Block                                0
Lot                                  0
Easement                          6209
Building Class At Present            0
Address                              0
Apartment Number                  5685
Zip Code                             0
Residential Units                 1114
Commercial Units                  1565
Total Units                       1081
Land Square Feet                  1598
Gross Square Feet                 1598
Year Built                         612
Tax Class At Time Of Sale            0
Building Class At Time Of Sale       0
Sale Price                           0
Sale Date                            0
dtype: int64

In [23]:
#Check how many nulls in the Total_Units column
df.isnull().sum()['Total Units']

np.int64(1081)

In [24]:
#Check skewdness for this column

print("Skewness:", df['Total Units'].skew())
print("Outliers:", df['Total Units'].quantile(0.99))

Skewness: 11.01084707260812
Outliers: 66.0

**Give your interpretation of the results**




1. HEAVILY positive skew
2. When charted this willl have extreme values on the right tail

In [25]:
# You can now fill the Total_Units with your chosen method.
print("Mean:", df['Total Units'].mean())
print("Median:", df['Total Units'].median())
print("Mode:", df['Total Units'].mode()[0])
df['Total Units'] = df['Total Units'].fillna(df['Total Units'].median())

Mean: 4.365834633385336
Median: 2.0
Mode: 1.0

In [26]:
# Now check if there are missing values for Total_Units
df.isnull().sum()['Total Units']

np.int64(0)

## **3. Check the mean, mode, median and standard deviation of the Sale_Price column**

In [27]:
# print each one in a seperate line

print("Mean:", df['Sale Price'].mean())
print("Median:", df['Sale Price'].median())
print("Mode:", df['Sale Price'].mode())
print("Standard Deviation:", df['Sale Price'].std())

Mean: 975250.5728780802
Median: 307000.0
Mode: 0    0
Name: Sale Price, dtype: int64
Standard Deviation: 3173856.5769720264

## **4. Standarise the Gross_Square_Feet colum with the StandardScaler(). Fill in missing values first then standardise (Hint check Section 3: Data Scaling  in the lab example)**

In [28]:
#First check if it has missing values
df.isnull().sum()['Gross Square Feet']

np.int64(1598)

In [29]:
#Fill the missing vallues with the a chosen method as in exercise 2 above
print("Skewness:", df['Gross Square Feet'].skew())
print("Outliers:", df['Gross Square Feet'].quantile(0.99))

print("Mean:", df['Gross Square Feet'].mean())
print("Median:", df['Gross Square Feet'].median())
print("Mode:", df['Gross Square Feet'].mode()[0])

Skewness: 14.911402052312798
Outliers: 85807.29999999946
Mean: 6161.71980047712
Median: 2200.0
Mode: 0.0

In [30]:
# You can now fill the missing value with your chosen method
Gross_median = df['Gross Square Feet'].median()
df['Gross Square Feet'] = df['Gross Square Feet'].fillna(Gross_median)
np.median(df['Gross Square Feet'])
df['Gross Square Feet'] = df['Gross Square Feet'].fillna(np.median(df['Gross Square Feet']))

In [31]:
# check if you cleaned all missing values from Gross_Square_Feet
df.isnull().sum()['Gross Square Feet']

np.int64(0)

In [32]:
# Extract min and max for Gross_Square_Feet
Gross_Square_Feet_min = df['Gross Square Feet'].min()
Gross_Square_Feet_max = df['Gross Square Feet'].max()



# Display the comparison

print(f"Gross Square Feet Range: {Gross_Square_Feet_min :,.2f} to {Gross_Square_Feet_max :,.2f} sq ft")

Gross Square Feet Range: 0.00 to 674,889.00 sq ft

**Write your interpretation of the range**

In [33]:
from sklearn.preprocessing import StandardScaler
import pandas as pd

# Select and scale
X = df[['Gross Square Feet']]
# define your scaler
scaler = StandardScaler()
# Scale the data
scaledX = scaler.fit_transform(X)



#Now let's see the values after scaling (the mean should be 0 and standard deviation 1)
# Convert back to DataFrame
scaled_df = pd.DataFrame(scaledX, columns=['Gross Square Feet'])




# Print mean and std of scaled columns
print("Mean values:\n", scaled_df.mean())
print("\nStandard deviation values:\n", scaled_df.std())

Mean values:
 Gross Square Feet    0.0
dtype: float64

Standard deviation values:
 Gross Square Feet    1.000081
dtype: float64

## **5. Impute the Building_Class_Category with a Lable Encoder (Hint check Section 4 Imputing Categorical Data in Lab example)**

In [34]:
# Check the values of the Building_Class_Category
df['Building Class Category'].unique()
df['Building Class Category'].value_counts()

Building Class Category
02 TWO FAMILY DWELLINGS                     1640
01 ONE FAMILY DWELLINGS                     1256
10 COOPS - ELEVATOR APARTMENTS               884
03 THREE FAMILY DWELLINGS                    666
13 CONDOS - ELEVATOR APARTMENTS              369
07 RENTALS - WALKUP APARTMENTS               346
05 TAX CLASS 1 VACANT LAND                   185
29 COMMERCIAL GARAGES                        113
22 STORE BUILDINGS                           101
17 CONDO COOPS                               100
08 RENTALS - ELEVATOR APARTMENTS              95
04 TAX CLASS 1 CONDOS                         94
09 COOPS - WALKUP APARTMENTS                  55
06 TAX CLASS 1 - OTHER                        39
31 COMMERCIAL VACANT LAND                     37
14 RENTALS - 4-10 UNIT                        33
21 OFFICE BUILDINGS                           32
30 WAREHOUSES                                 30
27 FACTORIES                                  22
12 CONDOS - WALKUP APARTMENTS                 19
44 CONDO PARKING                              14
32 HOSPITAL AND HEALTH FACILITIES             12
37 RELIGIOUS FACILITIES                        9
41 TAX CLASS 4 - OTHER                         9
46 CONDO STORE BUILDINGS                       8
35 INDOOR PUBLIC AND CULTURAL FACILITIES       7
11 SPECIAL CONDO BILLING LOTS                  7
26 OTHER HOTELS                                5
28 COMMERCIAL CONDOS                           5
43 CONDO OFFICE BUILDINGS                      5
38 ASYLUMS AND HOMES                           5
33 EDUCATIONAL FACILITIES                      2
15 CONDOS - 2-10 UNIT RESIDENTIAL              2
36 OUTDOOR RECREATIONAL FACILITIES             1
47 CONDO NON-BUSINESS STORAGE                  1
34 THEATRES                                    1
Name: count, dtype: int64

In [40]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd

# Create a copy to preserve original data
df['Building Class Category_Original'] = df['Building Class Category'].copy()

# Initialize encoder
le = LabelEncoder()

# Handle missing values
mask = df['Building Class Category'].notna()
encoded_values = le.fit_transform(df.loc[mask, 'Building Class Category'])
df.loc[mask, 'Building Class Category_Encoded'] = pd.Series(encoded_values, index=df.index[mask])


df[['Building Class Category', 'Building Class Category_Encoded']].head(10)

   Building Class Category  Building Class Category_Encoded
0                        0                              0.0
1                        0                              0.0
2                        0                              0.0
3                        1                              1.0
4                        1                              1.0
5                        1                              1.0
6                        1                              1.0
7                        1                              1.0
8                        1                              1.0
9                        1                              1.0